.caja{
    background-color: #E1BBD6;
    margin: 1%;
}
.caja2{
    background-color: #bad2d8;
    margin: 1%;
}
.caja3{
    background-color: #e9c698;
    margin: 1%;
}
.caja4{
    background-color: #cae7ba;
    margin: 1%;
}
.caja5{
    background-color: #e7ebb4;
    margin: 1%;
}